:root {
  --page-width: 1150px;

  --white-color: #ffffff;
  --primary-color: #885ffb;
  --text-grey-color: #9ca3af;

  --space-s: 8px;
  --space-m: 12px;
  --space-l: 16px;
  --space-xl: 32px;

  --border-radius-s: 4px;
  --border-radius-m: 10px;
  --border-radius-l: 24px;

  --text-weight: 400;
  --bold-weight: 700;

  --size-m: 14px;
  --size-d: 16px;

  --line-height: 100%;

  font-family: 'Roboto', sans-serif;
}

html {
  background: #111827;
}

.page_content {
  /* max-width: var(--page-width); */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}

/* =============================== */

.header {
  padding: 12px 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  max-width: var(--page-width);
  width: 100%;
}

.header_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 600px;
  padding-bottom: var(--space-m);
  border-bottom: 1px solid #253041;
  width: 100%;
}

.header_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0px 0px;
  width: 100%;
}

.logo {
  font-size: var(--size-m);
  background-color: var(--primary-color);
  color: var(--white-color);
  border-radius: var(--border-radius-m);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 30px;
  padding: 8px 12px;
}

.nav {
  display: flex;
  gap: 24px;
}

.nav_link {
  color: var(--white-color);
  font-size: var(--size-d);
  text-decoration: none;
  line-height: var(--line-height);
  transition: opacity 0.5s;
}

.nav_link:hover {
  text-decoration: underline;
  opacity: 0.7;
}

.ad {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-s);
}

.ad_badge {
  background: rgba(136, 95, 251, 0.2);
  color: var(--primary-color);
  border-radius: var(--border-radius-s);
  padding: 2px 6px;
  font-weight: var(--bold-weight);
  font-size: var(--size-m);
  line-height: var(--line-height);
}

.ad_url {
  text-decoration: none;
}

.ad_url:hover {
  text-decoration: underline;
}

.text_style {
  color: var(--white-color);
  font-weight: var(--text-weight);
  font-size: var(--size-m);
  line-height: var(--line-height);
}

/* ================== */

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: var(--page-width);
  width: 100%;
  height: 300px;
  background: radial-gradient(
      100% 625% at 100% 100%,
      rgba(17, 24, 39, 0) 0%,
      rgba(78, 63, 146, 0.6) 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.1));
  border-radius: var(--border-radius-l);
}

.hero_content {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 600px;
  gap: 20px;
}

.hero_title {
  color: var(--white-color);
  font-weight: var(--bold-weight);
  font-size: 36px;
  line-height: var(--line-height);
}

.hero_description {
  color: var(--text-grey-color);
  font-weight: var(--text-weight);
  font-size: var(--size-d);
  line-height: 150%;
  text-align: center;
}

.hero_button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 12px 36px;
  gap: var(--space-m);
  max-width: 150px;
  width: 100%;
  height: 40px;

  background: var(--primary-color);
  border-radius: var(--border-radius-m);

  font-weight: var(--bold-weight);
  font-size: var(--size-d);
  line-height: var(--line-height);
  color: var(--white-color);
}

/* =========================== */

.about {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: var(--page-width);
  width: 100%;
  border-radius: var(--border-radius-l);
  background: rgba(42, 49, 65, 0.44);
  padding: var(--space-xl);
}

.about_content {
  display: flex;
  flex-direction: column;
  gap: var(--space-l);
}

.about_heading {
  color: var(--white-color);
  font-weight: var(--bold-weight);
  font-size: 24px;
  line-height: var(--line-height);
}

.about_info {
  color: var(--text-grey-color);
  font-weight: var(--text-weight);
  font-size: var(--size-m);
  line-height: 170%;
}

/* ===================== */

.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: var(--page-width);
  width: 100%;
  gap: var(--space-xl);
}

.main_top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: var(--page-width);
  width: 100%;
  gap: var(--space-xl);
}

.main_title {
  color: var(--white-color);
  font-weight: 700;
  font-size: 32px;
  line-height: var(--line-height);
}

.main_button {
  color: var(--white-color);
  border: 1px solid var(--text-grey-color);
  border-radius: var(--border-radius-m);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
  gap: var(--space-s);
  font-weight: 700;
  font-size: var(--size-d);
  line-height: var(--line-height);
}

.main_content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: var(--page-width);
  width: 100%;
  gap: var(--space-xl);
}

.article_card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  max-width: var(--page-width);
  width: 100%;
  gap: var(--space-xl);
}

.article_img {
  border-radius: var(--border-radius-l);
  max-width: 350px;
  width: 100%;
}

.new_badge {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  max-width: 40px;
  width: 100%;
  height: 20px;
  right: 20px;
  bottom: 230px;

  padding: 2px 6px;
  gap: 10px;

  background: rgba(251, 95, 95, 0.5);
  border-radius: var(--border-radius-s);

  font-weight: 700;
  font-size: var(--size-d);
  line-height: var(--line-height);

  color: var(--white-color);
  text-transform: uppercase;
}

.article_name {
  color: var(--white-color);
  font-weight: 700;
  font-size: 18px;
  line-height: var(--line-height);
}

.artc_description {
  color: var(--text-grey-color);
  font-weight: var(--text-weight);
  font-size: var(--size-m);
  line-height: 150%;

  max-width: 360px;
  width: 100%;
  max-height: 80px;
  height: 100%;
}

.article_button {
  color: var(--white-color);
  background: var(--primary-color);
  border-radius: var(--border-radius-m);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  gap: var(--space-s);
  font-weight: 700;
  font-size: var(--size-m);
  line-height: var(--line-height);
  text-transform: capitalize;
}

/* ================================= */

.footer {
  display: flex;
  flex-direction: column;
  padding: 12px 0px 32px;
  gap: var(--space-l);
  max-width: var(--page-width);
  width: 100%;
  border-top: 1px solid #253041;
}

.footer_content {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.copyright {
  font-weight: var(--text-weight);
  font-size: var(--size-d);
  line-height: var(--line-height);
  color: var(--text-grey-color);
}

.footer_left {
  display: flex;
  gap: var(--space-l);
}

.footer_pages {
  color: var(--white-color);
  font-weight: var(--text-weight);
  font-size: var(--size-d);
  line-height: var(--line-height);
  text-decoration: none;
  transition: opacity 0.5s;
}

.footer_pages:hover {
  text-decoration: underline;
  opacity: 0.7;
}
