<div class="footer_content">
	<div class="footer_right">
		<span class="copyright">{{copyright}}</span>
	</div>
	<div class="footer_left">
		{{#each pages}}
		<a class="footer_pages" href="{{path}}">{{name}}</a>
		{{/each}}
	</div>
</div>